body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  border: 1px solid red;
}
header {
  text-align: center;
  width: 100%;
  height: 25%;
}
main {
  display: grid;
}
div {
  border: 1px solid red;
}
